/* emojis */
.rxn[data-emoji] {
   /*background-color: var(--background-light) !important;
   transition: background-color 200ms ease-in;*/
   height: 28px;
}

.rxn[data-emoji]:hover {
   /*background-color: var(--background-bright) !important;*/
}

.rxn[data-emoji] .emoji_rxn_count {
   font-size: 0.9rem;
   /*color: black !important;*/
}

.rxn .emoji-sizer {
  background-color: transparent !important;
  border-radius: 7px;
  width: 240px;
  height: 240px;
  margin: 0 0 0 -2px !important;
  border: 1px solid transparent; /* looks silly but it makes the outline work */
}

.emoji-sizer {
   /* outline for black-on-transparent emojis */
   -webkit-filter: drop-shadow( 1px  0 0 var(--background-bright))
                   drop-shadow(-1px  0 0 var(--background-bright))
                   drop-shadow(-0  1px 0 var(--background-bright))
                   drop-shadow( 0 -1px 0 var(--background-bright));
   margin: 0 !important;
}

.ts_icon.ts_icon_smile_o {
   color: var(--text);
}

.emoji_menu_ng #emoji_input_container,
#emoji_menu #emoji_menu_items_scroller,
#emoji_menu #emoji_menu_footer,
#emoji_menu #emoji_input_container {
   background-color: transparent;
}

.menu .p-emoji_picker__input_container,
.menu .p-emoji_picker__list_container,
.menu .p-emoji_picker__heading {
   background: transparent;
   color: var(--text);
}


#emoji_menu h3, #emoji_menu #emoji_preview_text {
   background-color: var(--background-elevated);
   color: var(--text);
}

#emoji_menu a.emoji_grouping_tab .emoji-sizer {
   -webkit-filter: none;
}

.emoji_menu_ng #emoji_menu_header .emoji_grouping_tab.active {
   background-color: transparent;
   border-color: var(--border-bright);
   border-width: 1px 1px 3px 1px;
   border-style: solid;
}

.light_theme .emoji-only {
   line-height: 3rem;
   font-size: 3rem;
   margin-top: 3px !important;
}

.emoji-sizer {
  font-size: 64px !important;
  padding: 4px !important;
}
.emoji-sizer.emoji-only {
  font-size: 64px !important;
}
